@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('~/fonts/Vazir.eot');
  src: url('~/fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
  url('~/fonts/Vazir.woff2') format('woff2'), 
  url('~/fonts/Vazir.woff') format('woff'), 
  url('~/fonts/Vazir.ttf') format('truetype');
 }
 @font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url('~/fonts/Vazir-Bold.eot');
  src: url('~/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
  url('~/fonts/Vazir-Bold.woff2') format('woff2'), 
  url('~/fonts/Vazir-Bold.woff') format('woff'), 
  url('~/fonts/Vazir-Bold.ttf') format('truetype');
 }
 .phone-image {
  position: fixed;
  bottom: 20px;
  left: 27px;
}
.phone-image.animate {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

 .direction-img-left-question {
  float: inline-start;
}
.border-question-box {
  border-radius: 5px;
}
.collapse-transition {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.collapsed {
  max-height: 0px;
}
.line-height-description {
  line-height: 2.5em;
}
.font-family {
  font-family: vazir;
}
.slideshow-test {
  position: relative;

}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

@media only screen and (min-width: 400px) {
  .mySlides{
    overflow: hidden;
    height: 144px;
  }
  .tittle-on-poster {
    position: absolute;
    top: 35%;
    left: 71%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 180px;
  }
  .subtittle-on-poster{
    position: absolute;
    top: 58%;
    left: 71%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 180px;
  }
  
}
@media only screen and (min-width: 1200px) {
  .Full-page-size{
    width: 1349px; 
    margin: auto;
  }
  .mySlides{
    overflow: hidden;
    height: 460px;
  }
  .margin {
    margin-right: 120px;
  }
  .tittle-on-poster {
    position: absolute;
    top: 35%;
    left: 71%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    width: 380px;
  }
  .subtittle-on-poster{
    position: absolute;
    top: 61%;
    left: 71%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 340px;
  }
  
}
.dot{
  list-style: disc outside;
}

